{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
        <li>
            <a href="https://plus.google.com/u/0/+GlistenTse" class="social-weibo">
                <i class="fa fa-xlg fa-google-plus" data-original-title="姬家" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/" class="social-github">
                <i class="fa fa-xlg fa-github" data-original-title="章鱼猫" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/tsezzz" class="social-music">
                <i class="fa fa-xlg fa-twitter" data-original-title="蓝小鸟" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:loli@tse.moe" class="social-mail">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="私信博主" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="/rss/" class="social-rss">
                <i class="fa fa-xlg fa-rss" data-original-title="订阅本站" data-rel="tooltip"></i>
            </a>
        </li>
    </ul>
</nav>
